root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,lua,fnl}]
indent_style = space

[*.lua]
indent_size = 3
quote_type = single

[*.{fnl,json}]
indent_size = 4
