-- vim:ts=3 ss=3 sw=3 expandtab

--- @alias stringer { string: string, [any]: any } Any table that have a string field named "string" used for string representation.

local M = {}

--- Searches for the {{ .Noun.Plural }}.
--- This function may be omitted if this extension does not provide searching functionality.
--- E.g. when the site is dedicated to a single {{ .Noun.Singular }}.
--- @param query string The query to search for.
--- @return stringer[] # The {{ .Noun.Plural }} that match the query.
function M.{{ .Fn.Search }}(query)
   return {}
end

--- Returns a list of episodes for {{ .Noun.Singular }}.
--- @param {{ .Noun.Singular }} stringer? The {{ .Noun.Singular }} to get episodes for.
--- Nil will be passed if the `search` function is missing.
--- @return stringer[] # The list of episodes.
function M.{{ .Fn.Episodes }}({{ .Noun.Singular }})
   return {}
end

--- Prepares an episode for watching/downloading.
--- When you need to do some heavy operations before passing it further.
--- @param episode stringer The episode to prepare.
--- @return stringer # The prepared episode.
function M.{{ .Fn.Prepare }}(episode)
   return episode
end

--- Watches an episode.
--- @param episode stringer The episode to watch.
function M.{{ .Fn.Watch }}(episode)
   require('{{ .App }}').api.watch(episode.url)
end

--- Downloads an episode.
--- @param episode stringer The episode to download.
function M.{{ .Fn.Download }}(episode)
   require('{{ .App }}').api.download(episode.string, episode.url)
end

return M